body {
  font-family: Arial;
  font-weight: 500 !important;
  background-color: black;
  margin: 0 auto;
}

h1, p, span, h3, h4 {
  color: white;
}

.navbar {
  background-color: #313030;
  margin-top: -20px;

}

.navbar__title {
  padding: 10px;
}

.listArtist__container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
}

.listArtist__artist {
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.listArtist__title {
  position: absolute;
  top: 0px;
  right: 17px;
}

.listArtist__artist img{
  width: 70%;
  height: 14vw;
  border-radius: 50%;
  object-fit: cover;
  transition-duration: .5s;
  opacity: 0.5;
}

.listArtist__artist:hover img {
  width: 75%;
  opacity: 1;
}

.listArtist__artist p {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Styles Album By Artists*/
.albumsByArtist__artist {
  text-align: center;
}
.albumsByArtist__artist img{
  width: 18%;
  height: 17.5vw;
  border-radius: 50%;
}

.albumsByArtist__artist--qualification {
  border-radius: 0 !important;
  width: 10px !important;
  height: 10px !important;
  padding-left: 10px;
}

.albumsByArtist__artist--popularity {
  font-size: 12px;
  padding-left: 2px;
}

.albumsByArtist__artist--info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.return {
  position: absolute;
  top: 22px;
  right: 180px;
  color: white;
  text-decoration: none;
}

.albumsByArtist__album {
  display: flex;
  justify-content: center;
  background-color: #242323;
}

.albumsByArtist__album--info {
  width: 70%;
}

.albumes-title {
  padding-left: 15px;
}

.albumsByArtist__album--list{
  display: flex;
  border-bottom: 1px solid white;
  margin: 0 10px 10px 10px;
  padding: 0 10px;
}
.albumsByArtist__album--info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 10px;
}

.albumsByArtist__album--info p {
  padding-left: 10px;
  font-size: 12px;
}

.albumsByArtist__album--tracks {
  display: inline-block;
  width: 100%;
}

.albumsByArtist__album--arrow-right {
  width: 20px !important;
  height: 20px !important;
  top: 19px !important;
}

.albumsByArtist__album--list:hover {
  background-color: #2d2c2c78;
}

/*Styles songs by album*/
 
.album-info {
  background-color: #2d2c2c78;
  padding: 40px;
  display: flex;
  align-items: center;
}

.album-info__image {
  width: 210px;
  height: 200px;
}

.album-info--description {
  margin-left: 20px;
}

.songsByAlbum--container {
  display: flex;
  justify-content: center;
}

.songByAlbum--list {
  width: 70%;
}

.songByAlbum--list--item {
  display: flex;
  border-bottom: 1px solid white;
  position: relative;
}

.songByAlbum--list--item:hover {
  background-color: #2d2c2c78;
  cursor: pointer;
}

.songByAlbum--list--itemindex{
  margin-right: 30px;
}

.songByAlbum--list--itemduration {
  position: absolute;
  right: 0;
}

/*Styles media player*/

.mediaplayer-container {
  background-color: #242323;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  display: flex;
}

.mediaplayer--image {
  width: 40px;
  height: 40px;
  border-radius: 5px !important;
}

.mediaplayer-info {
  display: flex;
  padding: 10px 20px;
}

.mediaplayer-info-list {
  margin-left: 20px;
}

.mediaplayer-info-list p {
  margin: 0;
  font-weight: bold;
} 

.mediaplayer-duration {
  padding-top: 10px;
}

.title-notFound {
  text-align: center;
}